body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 10px 10px;
}

.logo-container img {
  width: 500px;
}

.login-container {
  display: flex;
}

/* Base pour toutes les formes */
.shape {
  position: absolute; /* permet de les placer librement */
}

/* Cercle */
.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #60bdb6;
}

/* Triangle */
.triangle {
  width: 0px;
  height: 0px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid #58b1c9;
}

/* --- RONDS (20) --- */
#c1 {
  top: 50%;
  left: 5%;
}
#c2 {
  top: 3%;
  left: 30%;
}
#c3 {
  top: 5%;
  left: 60%;
}
#c4 {
  top: 12%;
  left: 45%;
}
#c5 {
  top: 15%;
  left: 4%;
}
#c6 {
  top: 80%;
  left: 24%;
}
#c7 {
  top: 86%;
  left: 54%;
}
#c8 {
  top: 38%;
  left: 46%;
}
#c9 {
  top: 3%;
  left: 87%;
}
#c10 {
  top: 84%;
  left: 88%;
}

/* --- TRIANGLES (20) --- */
#t1 {
  top: 2%;
  left: 15%;
}
#t2 {
  top: 25%;
  left: 55%;
}
#t3 {
  top: 27%;
  left: 11%;
}
#t4 {
  top: 80%;
  left: 8%;
}
#t5 {
  top: 60%;
  left: 52%;
}
#t6 {
  top: 74%;
  left: 40%;
}
#t7 {
  top: 3%;
  left: 45%;
}
#t8 {
  top: 80%;
  left: 70%;
}
#t9 {
  top: 12%;
  left: 75%;
}
#t10 {
  top: 3%;
  left: 45%;
}

* {
  border: 1px solid red;
}
