.logo {
  width: 600px;
  height: 600px;
  position: relative;
  top: 25px;
  left: 125px;
}

/* Base pour toutes les formes */
.shape {
  position: absolute; /* permet de les placer librement */
}

/* Cercle */
.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #60bdb6;
}

/* Triangle */
.triangle {
  width: 0px;
  height: 0px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #58b1c9;
}

/* --- RONDS (20) --- */
#c1 {
  top: 90%;
  left: 90%;
}
#c2 {
  top: 120px;
  left: 150px;
}
#c3 {
  top: 200px;
  left: 250px;
}
#c4 {
  top: 280px;
  left: 350px;
}
#c5 {
  top: 350px;
  left: 450px;
}
#c6 {
  top: 420px;
  left: 550px;
}
#c7 {
  top: 50px;
  left: 650px;
}
#c8 {
  top: 120px;
  left: 750px;
}
#c9 {
  top: 200px;
  left: 850px;
}
#c10 {
  top: 280px;
  left: 950px;
}
#c11 {
  top: 350px;
  left: 1050px;
}
#c12 {
  top: 420px;
  left: 1150px;
}
#c13 {
  top: 50px;
  left: 1250px;
}
#c14 {
  top: 120px;
  left: 1350px;
}
#c15 {
  top: 200px;
  left: 100px;
}
#c16 {
  top: 280px;
  left: 200px;
}
#c17 {
  top: 350px;
  left: 300px;
}
#c18 {
  top: 420px;
  left: 400px;
}
#c19 {
  top: 50px;
  left: 500px;
}
#c20 {
  top: 120px;
  left: 600px;
}

/* --- TRIANGLES (20) --- */
#t1 {
  top: 70px;
  left: 100px;
}
#t2 {
  top: 150px;
  left: 200px;
}
#t3 {
  top: 230px;
  left: 300px;
}
#t4 {
  top: 310px;
  left: 400px;
}
#t5 {
  top: 390px;
  left: 500px;
}
#t6 {
  top: 470px;
  left: 600px;
}
#t7 {
  top: 70px;
  left: 700px;
}
#t8 {
  top: 150px;
  left: 800px;
}
#t9 {
  top: 230px;
  left: 900px;
}
#t10 {
  top: 310px;
  left: 1000px;
}
#t11 {
  top: 390px;
  left: 1100px;
}
#t12 {
  top: 470px;
  left: 1200px;
}
#t13 {
  top: 70px;
  left: 1300px;
}
#t14 {
  top: 150px;
  left: 50px;
}
#t15 {
  top: 230px;
  left: 150px;
}
#t16 {
  top: 310px;
  left: 250px;
}
#t17 {
  top: 390px;
  left: 350px;
}
#t18 {
  top: 470px;
  left: 450px;
}
#t19 {
  top: 70px;
  left: 550px;
}
#t20 {
  top: 150px;
  left: 650px;
}
